<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">Lista de Expedientes en Secretaría de Educación
        <button
            type="button"
            class="btn btn-m btn-danger"
            [routerLink]="[lastRoute]">
            Volver
        </button>
    </div>
<div>
    <table class="table table-hover table-striped m-0">
        <thead>
            <tr class="mx-auto">
                <th class="small pt-0 pb-0 px-2 ">Numero</th>
                <th class="small pt-0 pb-0 px-2">Iniciador</th>
                <th class="small pt-0 pb-0 px-2">Referencia</th>
                <th class="small pt-0 pb-0 px-2">Grupo</th>
                <th class="small pt-0 pb-0 px-2"></th>

            </tr>
        </thead>
        <tbody class="">
                <td width="260"   class=" d-flex" >
                    <input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "5"
                        [(ngModel)]="fileSerch.search_dependence_number"
                        class="form-control mr-0 col-3 p-0 text-center "
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">

                    <div class="col-xl-1 text-center p-0 h-25 ">-</div>
                    <input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "7"
                        [(ngModel)]="fileSerch.search_number"
                        class="form-control mr-1 col-5 p-0 text-center "
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">

                    <div class="col-1 text-center p-0 h-25 ">-</div>
                    <input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "1"
                        [(ngModel)]="fileSerch.search_final_number"
                        class="form-control mr-1 col-xl-2 p-0 text-center"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">

                </td>
                <td width="300">
                    <input type="text"
                        class="form-control mr-1 col-xl-12 p-0 text-center h-25"
                        [(ngModel)]="fileSerch.search_initiator"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </td>
                <td>
                    <input type="text"
                        class="form-control mr-1 col-xl-12 p-0 text-center h-25"
                        [(ngModel)]="fileSerch.search_concept"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                    </td>

                <td width="180"  >
                    <select class="form-control mr-1 col-xl-12 p-0 text-center h-25"
                    [(ngModel)]="fileSerch.search_group"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                        <option *ngFor="let group of groups" [value]="group.name">
                            {{group.name}}
                          </option>
                    </select>
                </td>

                <td class="px-0 " >
                    <button
                        class="btn btn-outline-info small pt-0 pb-0 px-2"
                        type="button"
                        (click)="search()"
                        [routerLink]="" >
                        buscar
                    </button>
                </td>
        </tbody>
    </table>
    </div>
    <p *ngFor="let alert of alerts">
        <ngb-alert class="m-0" (close)="closeAlert(alert)" [type]="alert.type">{{alert.message}}</ngb-alert>
    </p>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="mx-auto">
                    <th class="small pt-0 pb-0 px-2">N°</th>
                    <th class="small pt-0 pb-0 px-2 ">Numero</th>
                    <th class="small pt-0 pb-0 px-2">Iniciador</th>
                    <th class="small pt-0 pb-0 px-2">Referencia</th>
                    <th class="small pt-0 pb-0 px-2">Grupo</th>
                    <th class="small pt-0 pb-0 px-2">
                        <button
                        class="btn btn-outline-primary small pt-0 pb-0 px-2 m-1"
                        type="button"
                        (click)="editData(exp.id)"
                        [routerLink]="['/createExp']" >
                        Agregar Expediente
                        </button>
                     </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let exp of pagination.data; let i = index ">
                    <td width="4" class="small pt-0 pb-0 px-2" > {{(i+1)+((currentPage-1)*25)}} </td>
                    <td width="130" class="small pt-0 pb-0 px-2" > {{exp.dependence_number}}-{{exp.number}}-{{exp.final_number}} </td>
                    <td width="200"class="small pt-0 pb-0 px-2" > {{exp.initiator}} </td>
                    <td class="small pt-0 pb-0 px-2"> {{exp.concept}} </td>
                    <td class="small pt-0 pb-0 px-2 "> {{exp.group}} </td>
                    <td class="d-flex justify-content-around    ">
                    <button
                    class="btn btn-outline-primary small pt-0 pb-0 px-2 "
                    type="button"
                    (click)="editData(exp.id)"
                    [routerLink]="['/editExp']" >
                    Edit
                    </button>
                    <button
                    class="btn btn-outline-success small pt-0 pb-0 px-2 ml-2"
                    type="button"
                    (click)="verPasses(exp.id)"
                    [routerLink]="['/passes']" >
                    Ver
                    </button>
                </td>
                </tr>
            </tbody>
        </table>

<!-- pagination -->
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <button
                    class="btn btn-outline-primary small pt-0 pb-0 px-2"
                    type="button"
                    (click)="prevPage()"
                    [routerLink]="">
                    <<
                     </button>

                  </li>
                  <tr *ngFor="let page of totPage; let i = index" class="d-flex align-items-center">
                      <li class="page-item small">
                        <ng-template [ngIf]="currentPage == page" [ngIfElse]="noPage">
                        <button
                            style="box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%)"
                            class="btn btn-outline-primary small pt-0 pb-0 px-2"
                            type="button"
                            id= "{{page}}"
                            (click)="goPage($event.target.id)"
                            [routerLink]="">
                            {{page}}
                        </button>
                        </ng-template>
                        <ng-template #noPage>
                            <button

                            class="btn btn-outline-primary small pt-0 pb-0 px-2"
                            type="button"
                            id= "{{page}}"
                            (click)="goPage($event.target.id)"
                            [routerLink]="">
                            {{page}}
                        </button>
                        </ng-template>

                       </li>
                  </tr>
                  <li class="page-item">
                    <button
                    class="btn btn-outline-primary small pt-0 pb-0 px-2"
                    type="button"
                    (click)="nextPage()"
                    [routerLink]="">
                    >>
                    </button>
                  </li>
                </ul>
              </nav>
        </div>
<!-- pagination end -->
    </div>
