<div [@routerTransition]>
    <h2 class="text-muted">Principal </h2>
    <p style="font-size: xx-small;">V 2.0</p>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template *ngFor="let slider of sliders" ngbSlide>
                    <img
                        [src]="slider.imagePath"
                        alt="Random first slide"
                        class="img-fluid mx-auto d-block"
                        width="100%"
                    />
                    <div class="carousel-caption">
                       <p style="margin: 0; margin-left: 90px;">Ministerio de Educación </p>
                       <p style="margin: 0; margin-left: 90px; font-size: small;"> Secretaría de Educación </p>

                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr />
    <h2 class="text-muted"><small>Acciones</small> </h2>
    <div class="row justify-content-around">
        <div class="col-xl-3 col-lg-6"[routerLink]="['/createExp']" *ngIf = "permissions.SCE" >
            <app-stat [bgClass]="'primary'" [count]="" [type_icon] = false [icon]="'assets/images/list-exp-new.png'"  [label]="'Ingreso Expedientes'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-6" [routerLink]="['/listExp']"*ngIf = "permissions.SCE">
            <app-stat [bgClass]="'warning'" [count]="total_file.active " [inUser]="total_file.totalUser" [type_icon] = false [icon]="'assets/images/list-exp.png'" [label]="'lista Expedientes'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-6" [routerLink]="['/normativas']"*ngIf = "permissions.SCE">
            <app-stat [bgClass]="'success'" [count]="" [type_icon] = false [icon]="'assets/images/libros.png'" [label]="'Normativas'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-6" [routerLink]="['/dependencies']"*ngIf = "permissions.SCE">
            <app-stat [bgClass]="'danger'"   [type_icon] = false [icon]="'assets/images/dependencias.png'"[label]="'Dependecias'"></app-stat>
        </div>
    </div>

    <hr />
    <h2 class="text-muted"*ngIf = "permissions.PEAJ"><small>Plan Estratégico Anual Jurisdiccional</small> </h2>
    <div class="row justify-content-around" *ngIf = "permissions.PEAJ">
        <div class="col-xl-3 col-lg-6"[routerLink]="['/createExp']">
            <app-stat [bgClass]="'primary'" [count]="" [icon]="'fa-comments'"  [label]="'Ingreso PEAJ'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [count]="" [icon]="'fa-shopping-cart'" [label]="'PEAJ'"></app-stat>
        </div>
    </div>
    <h2 class="text-muted"*ngIf = "permissions.NOTO"><small>No Objeciones</small> </h2>
    <div class="col-xl-3 col-lg-6" *ngIf = "permissions.NOTO " [routerLink]="['/Not-Objetions']">
        <app-stat [bgClass]="'success'" [count]="" [icon]="'fa-shopping-cart'" [label]="'Cargar No Objeciones'"></app-stat>
    </div>
</div>
