<div class="card text-white bg-{{ bgClass }}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3" *ngIf="type_icon == true; else elseBlock">
                <i class="fa {{ icon }} fa-5x"></i>
            </div>
            <ng-template #elseBlock>
               <img src={{icon}} alt="" srcset="">
            </ng-template>
            <div class="col col-xs-9 text-right" *ngIf="count != null; else elseCountBlock">
                <div class="d-block">{{ label }}</div>
                <div class="d-block huge">Total: {{ count }} </div>
                <div class="d-block huge" >En Posesión: {{ inUser }} </div>
            </div>
            <ng-template #elseCountBlock >
                <div class="d-block col col-xs-9 text-right">{{ label }}</div>
            </ng-template>
            <span><i class="fa fa-arrow-circle-right"></i></span>
        </div>
    </div>
</div>
