<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <div class="d-flex"> Expediente N°
            <div class="ml-2" style="font-weight: 900;"> {{fileSerch.dependence_number}}-{{fileSerch.number}}-{{fileSerch.final_number}} </div>
        </div>
        <button (click)= 'cancelBtn()'
            type="button" class="btn btn-m btn-danger"
            [routerLink]="['/passes']" >
            Volver
        </button>
    </div>
<div>
    <table class="table table-hover table-striped m-0">
        <thead class="">
            <tr class="mx-auto row">
                <th class="small pt-0 pb-0 px-2 col-xl-4 justify-content-center">Iniciador</th>
                <th class="small pt-0 pb-0 px-3  col-xl-6">Referencia</th>
                <th class="small pt-0 pb-0 pl-4 col-xl-2">Grupo</th>
            </tr>
        </thead>
        <tbody class="row d-flex justify-content-between">

                <td class="col-xl-4 ml-3">
                    <textarea type="text"
                        rows="2"
                        class="form-control mr-1  p-0 text-center"
                        [(ngModel)]="fileSerch.initiator"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm"
                        disabled>
                    </textarea>
                </td>
                <td class="col-xl-5">
                    <textarea type="text"
                        class="form-control mr-1  p-0 text-center"
                        [(ngModel)]="fileSerch.concept"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm"
                        disabled>
                    </textarea>
                </td>

                <td class="col-xl-2 mr-4">
                    <textarea type="text"
                    class="form-control mr-1 p-0 text-center"
                    [(ngModel)]="fileSerch.group"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    disabled>
                    </textarea>
                </td>
        </tbody>
    </table>
    </div>

    <div class="card  small">
        <div class="card-header d-flex justify-content-between p-0">
            <div class="d-flex"> <div class="centrado"> Pase desde</div> <div class="resaltado">{{  passeSearch.from }}</div> <div class="centrado"> ingresado el </div> <div class="resaltado">{{ passeSearch.from_date | date: 'shortDate'}}</div>
                <div class="ml-2" style="font-weight: 900;"> {{passe.id}} </div>
            </div>
        </div>
    <div>

    <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="mx-auto">
                    <th class="small pt-0 pb-0 px-2 ">N°</th>
                    <th class="small pt-0 pb-0 px-2 ">Desde</th>
                    <th class="small pt-0 pb-0 px-2">Fecha Ingreso</th>
                    <th class="small pt-0 pb-0 px-2">Respuesta</th>
                    <th class="small pt-0 pb-0 px-2">Hacia</th>
                    <th class="small pt-0 pb-0 px-2">Fecha salida</th>
                    <th class="small pt-0 pb-0 px-2">Responsable</th>
                    <th class="small pt-0 pb-0 px-2"></th>

                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of passe.data; let i = index " >
                    <td width="4" class="small pt-0 pb-0 px-1 b-0 " > {{i + 1}} </td>
                    <td width="150"class="small pt-0 pb-0 px-1 b-0" > {{item.from}} </td>
                    <td width="150" class="small pt-0 pb-0 px-1 b-0" > {{item.from_date}} </td>

                    <td width="400" class="small pt-0 pb-0 px-1 b-0" >
                        <textarea rows="2" cols="60"*ngIf="item.to_date != null; else ElseResponse" disabled > {{item.response}}</textarea>

                        <ng-template #ElseResponse>
                            <textarea rows="2" cols="60"  [(ngModel)]="newInternalPasse.response"> {{item.response}}</textarea>
                        </ng-template>

                    </td>


                    <td width="150"class="small pt-0 pb-0 px-1 b-0"*ngIf="item.to_date != null; else ElseTo" > {{item.to}} </td>
                    <ng-template #ElseTo>
                        <td width="150"class="small pt-1 pb-0 px-1 b-0 ">
                            <div class="center">
                                <select class="form-control small mr-1 p-0 b-0 text-center w-100 h-75 peke"
                                aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm"
                                [(ngModel)]="newInternalPasse.to">
                                <option  *ngFor="let user of users" >
                                    {{user.name}}
                                </option>

                            </select>
                        </div>
                    </td>
                </ng-template>
                <td width="150" class="small pt-0 pb-0 px-1 b-0" *ngIf="item.to_date != null; else ElseToDate"> {{item.to_date}} </td>
                <ng-template #ElseToDate>
                    <td width="150"class="small pt-1 pb-0 px-1 b-0 ">
                        <input type="date" class="m-0 b-0 pr-0 pl-1 pt-1 pb-0"  [(ngModel)]="newInternalPasse.to_date"> </td>
                    </ng-template>
                    <td width="75" class="small pt-0 pb-0 px-1 b-0">
                         <div class="center">{{item.responsable}} </div>
                    </td>
                    <td class="d-flex justify-content-center m-0 b-0 pr-0 pl-1 pt-1 pb-0">
                        <button *ngIf="item.to_date == null;"
                        class="btn btn-outline-success pt-0 pb-0 px-2  ml-1  "
                            type="button"
                            (click)="updatePasse(item.id)">
                                Guardar
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>




    <p *ngFor="let alert of alerts">
        <ngb-alert class="m-0" (close)="closeAlert(alert)" [type]="alert.type">{{alert.message}}</ngb-alert>
    </p>

    </div>
