<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">Editar Expediente N° {{ exp.dependence_number}} - {{exp.number}} - {{exp.final_number}}
      <div class="d-flex">
        <button (click)='saveBtn()'
            type="button"
            class="btn btn-m btn-success mr-1">
            Guardar
        </button>

        <button (click)= 'cancelBtn()'
            type="button" class="btn btn-m btn-danger">
            Volver
        </button>
      </div>
</div>
 </div>
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-xl-3 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body ">
                        Numero:
                            <div class="row d-flex justify-content-center m-0 w-100">
                            <input
                            type="text"
                            class="col-xl-3 text-center p-0 "
                            [(ngModel)]="exp.dependence_number"
                            name = "dependence"
                            id='dependence'>

                            <div class="col-xl-1 text-center p-0 ">-</div>

                            <input
                            type="text"
                            class="col-xl-5 text-center p-0"
                            [(ngModel)]="exp.number"
                            name = "number"
                            id='number'>

                            <div class="col-xl-1 text-center p-0 ">-</div>

                            <input
                            type="text"
                            class="col-xl-1 text-center p-0"
                            [(ngModel)]="exp.final_number"
                            name = "final_number"
                            id='final_number'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Iniciador:
                        <input type="text"[(ngModel)]='exp.initiator' class="w-100" id='initiator'>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Grupo:
                        <select class="form-control mr-1 col-xl-12 p-0 text-center"
                        [(ngModel)]="exp.group"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                            <option *ngFor="let group of groups" [value]="group.name">
                                {{group.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Estado:
                        <input type="text" [(ngModel)]='exp.status' rows="3" class="w-100" id="estado">
                    </div>
                </div>
            </div>
            <div class="col-xl-12 text-xs-center w100">
                <div class="card mb-3">
                    <div class="card-body">
                        Referencia:
                        <textarea class="card-body w-100" [(ngModel)]="exp.concept" rows="3" id="concept"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
